.nav {
  position: absolute;
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav button {
  font-size: 17px;
  color: white;
  background-color: rgb(0, 183, 255);
  width: 70px;
  height: 30px;
  border-radius: 6px;
  transition-duration: 0.4s;
  border: none;
  cursor: pointer;
}
.nav button:hover {
  background-color: rgb(0, 144, 201);
  color: white;
}
